/* =================================
  Base Element Styles
==================================== */
* {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
	line-height: 1.6;
  background: url("../images/DogBackground.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

h1, h2, h3, a, ul, button, figcaption {
  color: #660000;
  font-family: 'Walter Turncoat', sans-serif;
  font-size: 1.5em
}

a {
  text-decoration: none;
}

p, form {
  color: #660000;
  font-family: 'Just Another Hand', arial;
  font-size: 1.75em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

form {
  max-width: 70%;
}


/* =================================
Layout Styles
==================================== */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.nav-item {
  padding: .5% 2% .5% 2%;
  text-align: center;
}

.nav-item1 {
  margin-left: 5%;
}

.nav-item5 {
  margin-right: 5%;
}

#paw img {
  width: 20%;
  height: 20%;
}

#paw figcaption {
  text-align: center;
}

.social {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  float: left;
  max-width: 50px;
  max-height: 280px;
  align-items: baseline;
  justify-content: space-around;
}

.social a {
  max-width: 50px;
  max-height: 50px;
  display: inline-block;
  margin: 2%;
  padding: 2%;
}

.socialsignup {
  display: flex;
  margin: 10%;
  padding: 5%;
  align-items: center;
  justify-content: center;
}

.socialsignup a {
  max-width: 60px;
  max-height: 60px;
}
.action{
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  width: auto;
  margin-top: 30%;
  margin-bottom: 5%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 5%;
  align-items: baseline;
  font-size: 100%;
  text-align: center;
}

.footer-item {
  padding: 3%;
  padding-left: -50px;
}

.footer-item1 {
  margin-left: auto;
  font-size: 155%;
}

.footer-item3 {
  margin-right: auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
}

.form label, .form button {
  margin-top: 10px
}

.form button {
  max-width: 50%;
  justify-content: space-around;
  padding: 1%;
}

/* =================================
Stay Informed - Lightbox
==================================== */

#overlay {
  display: flex;
  width: 90%;
  height: 90%;
  Position: absolute;
  top: 5%;
  left: 5%;
  display: none;
}

#formcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 5%;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: tan;
}

#submit {
  font-size: 70%;
}

/* =================================
Media Queries
==================================== */
/*less than 1077 px wide*/
@media screen and (max-width: 1076px) {
  .action-item {
    margin-left: -50px;
  }
}
/*less than 768 px wide*/
@media screen and (max-width: 955px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-item3 {
    order: -1;
  }

  .nav-item1 {
    margin: auto;
  }

  .nav-item5 {
    margin: auto;
  }

  .social {
    margin-top: -42%;
  }

  .action-item {
    margin-left: 0px;
  }
}

@media screen and (max-width: 755px) {
  .nav-item {
    font-size: 70%;
  }

  .footer {
    font-size: 70%;
  }

  #paw figcaption {
    text-align: center;
  }

  .action{
    font-size: 100%;
  }
}
